<mz-modal [bottomSheet]="true" [fixedFooter]="true">

  <mz-modal-header>
    <h4>Novo evento</h4>
  </mz-modal-header>
  
  <mz-modal-content [formGroup]="createForm">
    <mz-textarea-container>
      <textarea mz-textarea [label]='"Descrição"' formControlName="description"></textarea>
    </mz-textarea-container>

    <div class="row">
      <mz-datepicker-container class="col s12 m3 l3">
        <input mz-datepicker [label]='"Data de início"' [options]="datePickerOptions" id="startDate" formControlName="startDate">
      </mz-datepicker-container>

      <mz-timepicker-container class="col s12 m3 l3">
          <input mz-timepicker [label]='"Hora de início"' [options]="timePickerOptions" id="startTime" formControlName="startTime">
      </mz-timepicker-container>

      <mz-datepicker-container class="col s12 m3 l3">
          <input mz-datepicker [label]='"Data de término"' [options]="datePickerOptions" id="endDate" formControlName="endDate">
      </mz-datepicker-container>

      <mz-timepicker-container class="col s12 m3 l3">
          <input mz-timepicker [label]='"Hora de término"' [options]="timePickerOptions" id="endTime" formControlName="endTime">
      </mz-timepicker-container>
    </div>
  </mz-modal-content>

  <mz-modal-footer>
    <form [formGroup]="createForm" (ngSubmit)="submitForm()">
      <button class="green-text" mz-button [flat]="true" type="submit">Cadastrar</button>
    </form>
  </mz-modal-footer>

</mz-modal>