<div class="row">
  <div class="col s12 m12 l10 offset-l1">
    <mz-card>
      <mz-card-content>
          <button mz-button (click)="openCreateEventModal()" class="green">
            <i mz-icon
            [align]="'left'"
            [icon]="'add'"
            [size]="'small'"></i>Novo evento</button>
            
            <mz-collection>
                <mz-collection-item [avatar]="true">
                  <i mz-avatar mz-icon [icon]="'event'" class="indigo"></i>
                  <div class="title">Reunião de Desenvolvimento</div>
                  <div>23/08/2018</div>
                  <div>15h00 - 19h00</div>
                  <div mz-secondary-content>
                    <a href=""><i mz-icon class="indigo-text" [icon]="'info'"></i></a>
                    <a href=""><i mz-icon class="blue-text" [icon]="'edit'"></i></a>
                    <a href=""><i mz-icon class="red-text" [icon]="'delete'"></i></a>            
                  </div>
                </mz-collection-item>
                
              </mz-collection>
      </mz-card-content>
    </mz-card>
  </div>
</div>