<div class="row">
  <div class="col s12 m12 l10 offset-l1">
    <mz-card>
      <mz-card-content>
          <div class="row">
              <a mz-button routerLink='/create' class="green col s8 offset-s2 m3 l3">
                  <i mz-icon
                  [align]="'left'"
                  [icon]="'add'"
                  [size]="'small'"></i>Novo evento</a>
      
                  <button mz-button (click)="logoutUser()" class="indigo col s8 offset-s2 m3 l3 offset-m6 offset-l6">
                      <i mz-icon
                      [align]="'left'"
                      [icon]="'vpn_key'"
                      [size]="'small'"></i>Logout</button>
          </div>
            <mz-collection>
                <mz-collection-item [avatar]="true" *ngFor="let event of allEvents">
                  <i mz-avatar mz-icon [icon]="'event'" class="indigo"></i>
                  <div class="title">{{ event.description }}</div>
                  <div><b>Início: </b> {{ event.startDate }}</div>
                  <div><b>Término: </b> {{ event.endDate }}</div>
                  <div mz-secondary-content>
                    <a href="#"><i mz-icon class="blue-text" [icon]="'edit'"></i></a>
                    <a [routerLink]="['/remove/', event.eventId]"><i mz-icon class="red-text" [icon]="'delete'"></i></a>            
                  </div>
                </mz-collection-item>
                
              </mz-collection>
      </mz-card-content>
    </mz-card>
  </div>
</div>