<div class="row">
    <div class="col s12 m12 l10 offset-l1">
      <mz-card>

        <mz-card-title>
          Remover evento
        </mz-card-title>

        <mz-card-content>
            <p>Tem certeza que deseja remover este evento?</p>
            <mz-collection>
                <mz-collection-item [avatar]="true">
                  <i mz-avatar mz-icon [icon]="'event'" class="indigo"></i>
                  <div class="title"> {{ event.description }} </div>
                  <div><b>Início: </b> {{ event.startDate }} </div>
                  <div><b>Término: </b> {{ event.endDate }} </div>
                </mz-collection-item>
                
              </mz-collection>
        </mz-card-content>

        <mz-card-action>
            <button mz-button (click)="removeEvent()" class="red">
              <i mz-icon
              [align]="'left'"
              [icon]="'delete'"
              [size]="'small'"></i>Remover</button>
            <a mz-button class="red-text" [flat]="true" routerLink="/dashboard">Cancelar</a>
        </mz-card-action>
      </mz-card>
    </div>
  </div>